{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% from 'SyliusResourceBundle:Macros:actions.html.twig' import update %}


{% block topbar %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.configuration'|trans }}</li>
    <li><a href="{{ path('sylius_backend_fulfillment_provider_index') }}">{{ 'sylius.breadcrumb.fulfillment.index'|trans }}</a></li>
    {#<li><a href="{{ path('sylius_backend_fulfillment_provider_show', {'id': fulfillment_provider.id}) }}">{{ fulfillment_provider.name }}</a></li>#}
    <li>{{ 'sylius.breadcrumb.edit'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <h1><i class="glyphicon glyphicon-pencil"></i> {{ 'sylius.form.fulfillment.update_header'|trans|raw }}</h1>
</div>
{{ form_errors(form) }}

<form action="{{ path('sylius_backend_fulfillment_provider_update', {'id': fulfillment_provider.id, '_method': 'PUT'}) }}" method="post" class="form-horizontal" {{ form_enctype(form) }} novalidate>
    <input type="hidden" name="_method" value="PUT">
    {% include 'SyliusWebBundle:Backend/FulfillmentProvider:_form.html.twig' %}
    <div class="tab-pane" id="parameters">
    </div>
    {{ update() }}
</form>
{% endblock %}
