{% form_theme form 'SyliusWebBundle::forms.html.twig' %}

<div class="tab-pane" id="fulfillment">
    {{ form_label(form.fulfillment.fulfillmentProvider) }} {{ form_widget(form.fulfillment.fulfillmentProvider) }}
    {{ form_label(form.fulfillment.protocol) }} {{ form_widget(form.fulfillment.protocol) }}
    {{ form_label(form.fulfillment.fileType) }} {{ form_widget(form.fulfillment.fileType) }}
</div>