{% set product = item.variant.product %}

<div class="item row">    
        <div class="span4 item-image">
               <a href="{{ path('sylius_product_show', {'slug': product.slug}) }}" class="thumbnail pull-left" style="margin-right: 15px;">
                    <img src="{{ product.image ? product.image.path|imagine_filter('sylius_small', true) : 'http://placehold.it/90x60' }}" alt="{{ product.name }}" />
                </a>
        </div>
        <div class="span8">
            <div class="clearfix">
                    <h3 class="pull-left">{{ product.name }}</h3>
                    <div class="price pull-right">{{ item.unitPrice|sylius_price }}</div>
            </div>

            <div class="quantity clearfix">
                <div class="pull-left">Quantity</div>
                <div class="pull-right">
                        <ul class="list-clear clearfix">                                
                                <li><a href="{{ path('sylius_cart_item_remove', {'id': item.id}) }}" class="">{{'delete'|trans()}}</a></li>
                                <li>{{ form_row(form.items[loop.index0].quantity, {'label': false}) }}</li>                                
                        </ul>
                </div>
            </div>
        </div>
</div> <!-- END ITEM -->
{#{ item.unitPrice|sylius_price }#}
