{% extends 'SyliusWebBundle:Frontend/Cart:cart-layout.html.twig' %}

{% import 'SyliusWebBundle:Frontend/Macros:alerts.html.twig' as alerts %}
{% import 'SyliusWebBundle:Frontend/Macros:cartHeader.html.twig' as cartHeader %}

{% form_theme form _self %}

{% block content %}

{% if not cart.empty %}
{{ form_errors(form) }}

<form action="{{ path('sylius_cart_save') }}" method="post" novalidate>
<div class="content-padding">
    <div class="container cart-items">
        {% for item in cart.items %}
            {% include 'SyliusWebBundle:Frontend/Cart:_item.html.twig' %}
        {% endfor %}
    </div>

    <div class="container price-check">
        {% if cart.promotionTotal %}
            <div class="subtotal clearfix">
                <div class="pull-left">{{ 'sylius.order.subtotal'|trans }}:</div>
                <div class="pull-right">{{ cart.promotionTotal|sylius_price }}</div>
            </div>
        {% endif %}
        <div class="subtotal clearfix">
            <div class="pull-left">{{ 'sylius.order.taxes'|trans }}:</div>
            <div class="pull-right">
                <ul>
                    {% for taxAdjustment in cart.taxAdjustments %}
                        <li>{{ taxAdjustment.description }} {{ taxAdjustment.amount|sylius_price }} </li>
                    {% else %}
                        <li><span class="label label-info">{{ 'sylius.order.no_taxes'|trans }}</span></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="subtotal clearfix">
            <div class="pull-left">{{ 'sylius.order.shipping'|trans }}:</div>
            <div class="pull-right">{{ cart.shippingTotal|sylius_price }}</div>
        </div>
        <div class="subtotal clearfix">
            <div class="pull-left">{{ 'sylius.order.tax_total'|trans }}:</div>
            <div class="pull-right total">{{ cart.taxTotal|sylius_price }}</div>
        </div>
        <div class="subtotal clearfix">
            <div class="pull-left">{{ 'sylius.cart.summary.total'|trans }}:</div>
            <div class="pull-right total">{{ cart.total|sylius_price }}</div>
        </div>
        <div class="subtotal clearfix">
            <div class="pull-left">{{ 'sylius.order.cv_total'|trans }}:</div>
            <div class="pull-right total">{{ cart.cvTotal }}</div>
        </div>
    </div>
    <div class="container next clearfix">
        <div class="row">
            <div class="span6 offset6">
                <a href="{{ path('sylius_checkout_start') }}" class="button huge">Next</a>
            </div>
        </div>
    </div>
</div>

</form>
{% else %}
    {{ alerts.info('sylius.cart.empty'|trans) }}
{% endif %}

{% endblock %}

{% block cart_step_header %}
    {% set homeUrl = path('sylius_homepage') %}
    {% set shoppingUrl = path('sylius_homepage') %}
    {% set title = 'sylius.cart.summary_header'|trans|raw %}
    {{ cartHeader.cartHeader('step1', homeUrl, title, shoppingUrl)}}
{% endblock cart_step_header %}

{% block sylius_cart_item_row %}
{{ parent() }}
{% block form_message %}{% endblock %}
{% endblock %}
